.tasksInfo {
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .tasksInfo div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .tasksInfo div span {
    background: var(--base-400);
    padding: 2px 8px;
    border-radius: 999px;
  }
  
  .tasksInfo div p {
    color: var(--product-light-300);
    font-weight: 700;
  }
  
  .tasksInfo .finished {
    color: var(--product-light-400);
  }
  
  