.task {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.75rem;
    margin-top: 1.5rem;
  
    background: var(--base-500);
  
    border: 1px solid var(--base-400);
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    
    font-size: 0.875rem;
    line-height: 1.4;
    width: 46rem;

}
  
.task div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.task button {
    background-color: transparent;
    border: none;
}
  
.task button:hover {
    color: var(--feedback-danger);
}
  
.task input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--product-light-300);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin-block: auto;
  }
  
.task input:checked {
    border: 2px solid var(--product-dark-800);
    background-color: var(--product-dark-800);
}

.task input:checked ~ p {
    color: var(--base-300);
    text-decoration: line-through;
}
  
.task input:before {
    content: '\2713';
    margin-inline: auto;
    margin-block: auto;
    font-size: 14px;
    color: white;
    opacity: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8px;
    left: -0.6px;
    
}
  
.task input:checked:before {
    opacity: 1;
}

@media (max-width: 768px) {
    .task {
      width: 90vw;
    }
}