.header {
  position: absolute;
  height: 12.5rem;
  left: 0rem;
  right: 0rem;
  top: 0rem;

  background: var(--base-700);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo img {
  margin-right: 0.75rem;
  height: 2.25rem;
}

.logo span {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--product-light-300);
}

.logo span:nth-last-child(-n + 1) {
  color: var(--product-dark-800);
} 

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.taskFrom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  
  position: absolute;
  max-width: 46rem;
  width: 90%;
  height: 3.375rem;
  top: 10.812rem;
}

.taskFrom input {
  padding: 1rem;
  width: 100%;
  background: var(--base-500);
  border: 1px solid var(--base-700);
  border-radius: 8px;

}

.taskFrom input:focus {
  outline: transparent;
}

.taskFrom button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: var(--product-dark-600);
  padding: 1rem;
  border-radius: 8px;

}

.sectionTasks {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 46rem;
  position: absolute;
  top: 18.187rem;
}


footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;

  border: 1px solid var(--base-400);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  transition: color 0.5s;
}

footer:hover {
  color: var(--feedback-danger);
}